{
    "env": {
       "es6": true,
       "browser": true,
       "node": true,
       "jquery": true
    },
    "extends" : "airbnb",
    "rules" : {
        "operator-linebreak": ["error", "after"],
        "linebreak-style": ["error", "windows"]
    },
    "settings": {
        "react": {
            "version": "999.999.999"
        }
    }
}