{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div class="container py-5">
	<div class="row">
		<div class="col-sm">

			<h1>Events</h1>

			<div class="container py-3 mb-3">
				<div class="row">
					<div class="col-sm">
						<fieldset class="btn-group filter-buttons" role="group" aria-label="Filter buttons" id="event-filters">
							<legend class="sr-only">Filters</legend>

							<input type="radio" name="event_filter" id="event-filters__view-all" value="" data-color="pink" checked=""><label class="btn btn-outline-pink btn-rounded-corners" for="event-filters__view-all">View all</label>

							<input type="radio" name="event_filter" id="event-filters__internal" value="internal" data-color="purple"><label class="btn btn-outline-purple btn-rounded-corners" for="event-filters__internal">
								<i class="fas fa-house-user"></i>
								NMIS event</label>

							<input type="radio" name="event_filter" id="event-filters__external" value="external" data-color="blue-third"><label class="btn btn-outline-blue-third btn-rounded-corners" for="event-filters__external">
								<i class="fas fa-map-marked-alt"></i>
								External event</label>

							<input type="radio" name="event_filter" id="event-filters__webinars" value="webinar" data-color="secondary"><label class="btn btn-outline-secondary btn-rounded-corners" for="event-filters__webinars">
								<i class="fas fa-laptop"></i>
								Webinars</label>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="container py-3">
				<div class="row" id="events-container">
					{% if rows -%}
						{{ rows }}
					{% elseif empty -%}
						{{ empty }}
					{% endif %}
				</div>
			</div>

		</div>
	</div>
</div>

{{ attach_library('nmis/events-landing-page') }}